/* defining general colors */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* colors */
:root{
    --primary-color:#7A428E;
    --secondary-color: #EE4266;
    --heading-color:#3B2244;
    --light-color: #FBF8FC;
    --text-color: #909298;
    --input-color: #ACAEB2;
}
html {
    font-size: 50%;
}
/* styles for body and defining of fonts */
body {
    background-color: var(--light-color);
    font-family: 'Ubuntu', sans-serif;
}
/* logo */
.logo{
    width: 17rem;
}
/* navbar */
.nav{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 12rem;
    height: 100px;
    position: relative;
<<<<<<< HEAD

=======
    
>>>>>>> 4a67d64595d810b51c8d43d4f3e9ede1b987a9c9
}
/* landing page nav group */
.nav .l-nav-group{
    display: flex;
    flex: row;
    gap: 5rem;
<<<<<<< HEAD

=======
    
>>>>>>> 4a67d64595d810b51c8d43d4f3e9ede1b987a9c9
}

.nav .l-nav-group li{
    list-style: none;
}

<<<<<<< HEAD

=======
>>>>>>> 4a67d64595d810b51c8d43d4f3e9ede1b987a9c9
.nav .l-nav-group li a{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 2rem;
    text-decoration: none;
    color:#FFFFFF;
}

.nav-active{
    display: flex;
}
#toggler{
    display: none;
}
.active{
    background-color: var(--secondary-color);
    padding: 1.3rem 3.6rem;
    border-radius: .9rem;
}
<<<<<<< HEAD
=======

>>>>>>> 4a67d64595d810b51c8d43d4f3e9ede1b987a9c9
/* section one */
.section-one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 12rem 20rem 12rem;
    background-image: url('/assets/backdrop.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
<<<<<<< HEAD
=======

>>>>>>> 4a67d64595d810b51c8d43d4f3e9ede1b987a9c9
}
.section-one .big-text{
    font-size: 7rem;
    line-height: 8rem;
    letter-spacing: .2rem;
    font-weight: 700;
    color: var(--primary-color);
}
.section-one .small-text{
    font-size: 4rem;
    letter-spacing: 6%;
    font-weight: 400;
    line-height: 5rem;
    color:#4A4A4A;
    margin-top: 20px;
    margin-bottom: 10rem;
}
.section-one .section-details{
    width:450px;
}
.section-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(100% 100.36% at 0% 7.54%, #FBF8FC 0%, rgba(106, 27, 207, 0.15) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin-top: 2rem;
    width:400px;
    height:400px;
    align-self: center;
    position: relative;
    margin-bottom: 30px;
}
.qr-code-pic{
    width:80%;
    height:80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/qr.png');
    position:absolute;
    opacity: 0;
    border-radius: 30px;
    animation: qrcode 10s infinite ease-in-out 1s ;
}
.info-pic{
    width:80%;
    height:80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/info.png');
    position:absolute;
    border-radius: 30px;
    animation: info 10s infinite ease-in-out 0.5s ;
}
<<<<<<< HEAD
=======

>>>>>>> 4a67d64595d810b51c8d43d4f3e9ede1b987a9c9
/* animation */
@keyframes info {
    0%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    34% {
        opacity: 0;
    }
    88%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes qrcode {
    0%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    34% {
        opacity: 0;
    }
    88%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* links */
.link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2rem;
    padding: 1.5rem 4.5rem;
}
/*  Sectiion two */
.section-two {
    margin-top: 5rem;
    padding: 1rem 12rem 5rem 12rem;
}
.section-two .mid-text{
    text-align: center;
    font-weight: 700;
    font-size: 6.8rem;
    line-height: 88px;
    color: var(--primary-color);
    margin-bottom: 3rem;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container .qrx-main-head, .qrx-main-head{
    width: 393px;
    font-weight: 700;
    font-size: 7rem;
    line-height: 7.5rem;
    color: var(--heading-color);
}
.container .qrx-head, .qrx-head{
    width: 400px;
    font-weight: 400;
    font-size: 4rem;
    letter-spacing: .1rem;
    line-height: 130%;
}
/* section three */
.section-three{
    background-color: white;
    padding: 5rem 12rem;
    display: flex;
    justify-content: space-between;
}
.group1 > .qrx-main-head{
    width:500px;
}
.link-img{
    margin-right: 0;
    width: 200px;
    animation: animate 5s infinite ease-in-out 1s;
}
    @keyframes animate {

        30%{
            margin-right: 5rem;
        }
        70%{
            margin-right: 15rem
        }
        100%{
            margin-right: 0;
        }
<<<<<<< HEAD

=======
        
>>>>>>> 4a67d64595d810b51c8d43d4f3e9ede1b987a9c9
    }
.group1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* section four */
.section-four{
    margin: 7rem 12rem;
    display: flex;
    flex-direction: column;
}
.section-four>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:6rem ;
}
.s-four-link{
    margin: 0 auto;
    padding: 30px 70px;
}
<<<<<<< HEAD

/* footer */
.footer .footer-desktop {
    background-image: url(/assets/footer-background.svg);
    background-image: url(assets/footer-background.svg);
=======
/* footer */
.footer .footer-desktop {
    background-image: url(/assets/footer-background.svg);
>>>>>>> 4a67d64595d810b51c8d43d4f3e9ede1b987a9c9
    background-size: cover;
    background-repeat: no-repeat;
}
.footer .footer-desktop{
    position: relative;
    padding: 12rem 12rem 3rem 12rem;
}
.footer-desktop>div {
    display: flex;
    justify-content: space-between;
    position: relative;
    
}
.footer-desktop .group1 .logo{
    width:20rem;
    padding-bottom: 2rem;
}
.footer-desktop .group1 .footer-txt{
    color:white;
    font-size: 2.5rem;
    font-weight: 700;
}
.footer-desktop .group2 p:first-of-type,.footer .group2 p:nth-of-type(2) {
    margin-bottom: 5rem;
}
.footer .footer-mobile{
    display:none;
}
.nav-group-mobile{
    display: none;
}
/* Media queries */
@media screen and (max-width: 1084px) {
    .nav-active{
    right:30px;
    }
    .nav,.section-one,.section-two,.section-three{
        padding:5rem 5rem;
    }
    .section-one {
    padding: 3rem 5rem 14.5rem 5rem;
    }
    .section-two{
        padding-top: 1rem;
    }
    .section-four{
        margin:5rem 5rem;
    }
    .section-image{
        margin-top: 5rem;
    }
    .section-one .big-text{
        margin-top: 5rem;
        font-size: 7rem;
        line-height: 6.6rem;
        margin-right: 2rem;
    }
    .qrx-main-head{
        font-size: 7rem;
    }
    .section-one .small-text{
        margin-bottom: 6rem;
        font-size: 4rem;
        line-height: 5rem;
        margin-right: 2rem;
    }
    .group1>.qrx-main-head {
        width:393px;
    }
        .pdf-img,
        .scan-img {
            width: 300px;
            height: auto;
        }
<<<<<<< HEAD

=======
>>>>>>> 4a67d64595d810b51c8d43d4f3e9ede1b987a9c9
    .footer-desktop{
        padding:10rem 5rem 2rem 5rem;
    }
}
@media screen and (max-width: 916px) {
    html{
        font-size: 40%;
    }
    .nav-active{
        top:20rem;
    right:10px;
    }
    .section-one{
        padding:3rem 5rem 7rem 5rem;
    }
    .pdf-img, .scan-img{
        width:350px;
    }
    .footer-desktop {
        padding: 5rem 5rem 2rem 5rem;
    }
    .footer .group2 p:first-of-type,
    .footer .group2 p:nth-of-type(2) {
        padding-top: 1rem;
    }
    .footer .group2 .link{
        font-size: 3rem;
    }
    .section-three{
        flex-direction: column-reverse;
        align-items: center;
    }
} 
<<<<<<< HEAD

@media screen and (max-width:824px){

=======
@media screen and (max-width:824px){
>>>>>>> 4a67d64595d810b51c8d43d4f3e9ede1b987a9c9
        .pdf-img,
        .scan-img {
            width: 100%;
            height: auto;
        }
  .section-one .section-details{
    width:500px;
  }
    .section-one{
        padding-top:5rem;
    }
    .nav .l-nav-group{
        display: none;
    }
    #toggler{
        display: block;
        cursor: pointer;
        position: relative;
    }
    #toggler span:nth-of-type(1){
        display: block;
        background-color: white;
        height: 3px;
        width:30px;
        margin-bottom: 7px;
        padding-right: 20px;
    }
    #toggler span:nth-of-type(2){
        display: block;
        background-color: white;
        height: 3px;
        width:30px;
    }
    #toggler span:nth-of-type(3){
        display: block;
        background-color: white;
        height: 3px;
        width:30px;
        margin-top: 7px;
    }
    #toggler.activated{
        transform: rotate(90deg);
        transition: all .5s ease-in-out;
    }
    .nav-group-mobile{
        display: none;
        flex-direction: column;
        width: 150px;
        text-align: center;
        position: absolute;
        top: 13rem;
        right:10px;
        box-shadow: 0 0 20px -5px rgba(105, 27, 207, 0.568);
        background: radial-gradient(#FBF8FC 100%, #F2EAF9 39%, #6A1BCF 0%);
        border-radius: 15px;
        transition:display .3s ease-in-out;
        }
        .activatede{
            display: flex;
        }
        .nav-group-mobile li a{ 
<<<<<<< HEAD
            text-decoration: none;}
        .nav-group-mobile li a{
        text-decoration: none;
=======
            text-decoration: none;
>>>>>>> 4a67d64595d810b51c8d43d4f3e9ede1b987a9c9
        color: #4A4A4A;
        font-size: 2.5rem;
        font-weight: 500;
        display: block;
        padding: 20px 40px;
        }
        .mob-link{
            margin:10px 0;
        }
        .nav-group-mobile li a:hover {
        background-color: white;
        color: #EE4266;
        box-shadow: 0 1px 7px -3px grey;
}
<<<<<<< HEAD
=======


>>>>>>> 4a67d64595d810b51c8d43d4f3e9ede1b987a9c9
    .container{
        flex-direction: column-reverse;
        align-items: center;
    }
    .section-four>div{
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }
    .container .qrx-main-head, .section-three .qrx-main-head, .group1 .qrx-main-head{
        margin-top: 10px;
        width:500px;
    }
    
        .section-one .section-details {
            margin-bottom: 20px;
        }

    .qrx-head, .section-two .qrx-head{
        width: 500px;
        margin-top: 2rem;
    }
    .s-four-link{
        padding:20px 40px;
    }

<<<<<<< HEAD
        .nav-group-mobile li a:hover {
    background-color: white;
    color: #EE4266;
    box-shadow: 0 1px 7px -3px grey;
    }
=======
>>>>>>> 4a67d64595d810b51c8d43d4f3e9ede1b987a9c9
}
@media screen and (max-width:700px) {
  .nav-group-mobile{
    top:12rem;
  }  
  .logo{
        width:70px;
    }

    .link{
        font-size: 2rem;
    }
    .section-one{
        padding-top: 3rem;
        padding-bottom: 5rem  ;
    }
        .section-one {
            flex-direction: column;
        }
<<<<<<< HEAD

=======
  
>>>>>>> 4a67d64595d810b51c8d43d4f3e9ede1b987a9c9
    .section-one .big-text {
        font-size: 5rem;
        line-height: 4rem;
        letter-spacing: .1rem;
        margin-bottom: 2rem;
    } 
    .section-one .link{
        margin-top: .3rem;
        margin-bottom: .5rem;
    }
    .section-one .small-text {
        font-size: 4rem;
        padding-right: 0;
        line-height: 4rem;
        margin-bottom: 5rem;
    }
<<<<<<< HEAD

=======
>>>>>>> 4a67d64595d810b51c8d43d4f3e9ede1b987a9c9
        .footer .footer-desktop{
            display: none;
        }
        .footer .footer-mobile{
            display: block;
            background-image: url(/assets/footer-mobile.svg);
                background-size: cover;
                background-repeat: no-repeat;
                padding: 5rem 5rem 2rem 5rem;
        }
        .footer-mobile>div{
            display: flex;
            justify-content: space-between;
        }
        .footer-mobile div .link{
            display: block;
            padding-left:0;
        }
  .footer-txt{
            margin-top: 10px;
            color: white;
            font-size: 2rem;
            font-weight: 400;
            text-align: center;
         } 
         .footer-mobile .chat-img{
<<<<<<< HEAD
            margin-top: 50px;    
         }
=======
            margin-top: 50px;
         }      
>>>>>>> 4a67d64595d810b51c8d43d4f3e9ede1b987a9c9
}
@media screen and (max-width:555px) {
    .section-image{
        margin-top: 4rem;
    }
        .pdf-img,
        .scan-img {
            width: 300px;
            height: auto;
        }
    .section-two .qrx-main-head, .section-three .qrx-main-head,.section-four .qrx-main-head{
            padding-left: 7rem;
            font-size: 3.5rem;
            margin-bottom: 1rem;
        }
        .qrx-head{
            padding-left:7rem;
        }
        .container .qrx-main-head,
            .section-three .qrx-main-head,
            .group1 .qrx-main-head {
                margin-top: 1rem;
                width: 400px;
            }
<<<<<<< HEAD

        .section-one .section-details {
            width: 420px;
            padding-right:10px; 
        }
=======
    
        .section-one .section-details {
                width: 420px;
          padding-right:10px;            }
>>>>>>> 4a67d64595d810b51c8d43d4f3e9ede1b987a9c9
  .section-one .big-text{
    font-size: 4rem;
  }
  .section-one .small-text {
    font-size: 3rem;
  }
  .section-one,     .section-two .mid-text{
                font-size: 4rem;
            }
        .qrx-head,
            .section-two .qrx-head {
                font-size: 3rem;
                width: 350px;
                margin-top: 1rem;
            }
}
@media screen and (max-width: 463px){
  .section-one .section-details {
     width: 300px;
    padding: 0;
}
  .section-one .big-text{
    margin-top: 0;
    font-size: 3rem;
  }
  .section-one .small-text {
    font-size: 3rem;
  }
  .section-image{
    width:300px;
    height:300px;
  }
<<<<<<< HEAD
}
=======
}



>>>>>>> 4a67d64595d810b51c8d43d4f3e9ede1b987a9c9
