{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Business Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static './css/styles2.css' %}">
    <link rel="stylesheet" href="{% static './css/business.css' %}">
</head>

<body>
    <!-- Header -->
    <nav class="nav">
        <a href="{% url 'home_page' %}"><img src="{% static './assets/logo.svg' %}" alt="Qrx" class="logo"></a>
        <ul class="nav-group">
            <li><a href="{% url 'qrcode_options' %}" class="">Services</a></li>
            <li><a href="{% url 'draft' %}" class="">Draft</a></li>
            <li><a href="{% url 'history' %}" class="">History</a></li>
        </ul>
        <!--    Desktop Drop down      -->
        <p class="header-username">FA</p>
        <ul class="nav-desktop">
            <li><a href="{% url 'profile' %}" class="pf-link link">Profile </a></li>
            <li><a href="{% url 'feedback' %}" class="f-b link">Feedback</a></li>
            <li><a href="#" class="l-out link">Logout</a></li>
        </ul>
        <!-- toggler -->
        <div id="toggler">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!--  Mobile dropdown  -->
        <ul class="nav-group-mobile">
            <li><a href="{% url 'qrcode_options' %}" class="s link">Services</a></li>
            <li><a href="{% url 'draft' %}" class="d link">Draft</a></li>
            <li><a href="{% url 'history' %}" class="h link">History</a></li>
            <li><a href="{% url 'profile' %}" class="p link">Profile </a></li>
            <li><a href="{% url 'feedback' %}" class="f link">Feedback</a></li>
            <li><a href="{% url 'user_logout' %}" class="l-out link">Logout</a></li>
        </ul>
    </nav>

    <div class="top">
        Content of your QR code
    </div>
    
    <main>
        <form action="{% url 'business' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input">
                <label for="QRcode">Business Name</label><br>
                <input type="text" id="" name="business_name" placeholder="E.g Mike's Corporation"><br>

                <label for="AcctNo">E-mail Address</label><br>
                <input type="email" id="AcctNo" name="email_address" placeholder="E.g seuntyu57@gmail"><br>
                
                <label for="AcctName">Phone Number</label><br>
                <input type="number" id="AcctName" name="phone_no" maxlength="11" placeholder="E.g +23481495048"><br>
                
                <label for="Bank">Location</label><br>
                <input type="text" id="Bank" name="location" placeholder=" E.g No 24, lekki phase 1, Lagos State Nigeria"><br>
                
                <label for="business">Business Description</label><br>
                <textarea name="description" id="business" cols="30" rows="10" placeholder="Maximum of 200 words" maxlength="200"></textarea><br>
            </div>

            <div class="button">
                <div class="uploadlogo">
                    <input class="upload" type="file" name="logo" id="upload">
                </div>
                <br>
                <div class="down_button">
                    <button class="p_input">Preview Input</button>
                    <button class="generate">Generate QR Code</button>
                </div>
            </div>
        </form>

        <div class="right">
            {% if business_obj %}
                <img class="code" src="{{ business_obj.qr_image.url }}" alt="code"><br><br>
                <div class="right_button">
                    <button class="customize">Customize</button>
                    <button class="download">Download</button>
                </div>
                <div class="format">
                    <div class="format_tag">
                        <a class="button5" type="button" href="{{ business_obj.qr_image.url }}" download>PNG</a>
                        <a class="button6" type="button" href="{{ business_obj.qr_image_jpg.url }}" download>JPG</a>
                        <a class="button7" type="button" href="{{ business_obj_code_pdf }}" download>PDF</a>
                    </div>
                    <div class="share">
                        <a href="#"><img src="{% static './assets/ei_share-google.svg' %}" alt="share"></a>
                    </div>
                </div>
            {% else %}
                <img class="code" src="{% static './assets/bi_qr-code.svg' %}" alt="code"><br><br>
                <img class="code" src="{{ business_obj.qr_image.url }}" alt="code"><br><br>
                <div class="right_button">
                    <button class="customize">Customize</button>
                    <button class="download">Download</button>
                </div>
                <div class="format">
                    <div class="format_tag">
                        <a class="button5" type="button" href="{{ business_obj.qr_image.url }}">PNG</a>
                        <a class="button6" type="button" href="{{ business_obj.qr_image_jpg.url }}">JPG</a>
                        <a class="button7" type="button" href="{{ business_obj_code_pdf }}">PDF</a>
                    </div>
                    <div class="share">
                        <a href="#"><img src="{% static './assets/ei_share-google.svg' %}" alt="share"></a>
                    </div>
                </div>
            {% endif %}
        </div>




    </main>

    <!-- footer -->
    <footer class="footer">
        <div class="footer-desktop">
            <div>
                <div class="group1">
                    <a href="{% url 'home_page' %}"><img src="{% static './assets/logo.svg' %}" alt="Qrx" class="logo"></a>
                    <p class="footer-txt">2022 Zuri /project phase Team 54</p>
                </div>
    
                <div class="group2">
                    <p>
                        <a href="{% url 'faq' %}" class="link">FAQ</a>
                        <a href="{% url 'about_us' %}" class="link">About Us</a>
                    </p>
                    <p><a href="{% url 'terms' %}" class="link">Terms and conditions</a></p>
                    <p><a href="{% url 'feedback' %}" class="link">Feedback</a></p>
                </div>
            </div>
        </div>
    
        <div class="footer-mobile">
            <div>
                <div>
                    <a href="{% url 'home_page' %}"><img src="{% static './assets/logo.svg' %}" alt="Qrx" class="logo"></a>
                    <a href="{% url 'faq' %}" class="link">FAQ</a>
                    <a href="{% url 'about_us' %}" class="link">About Us</a>
                    <a href="{% url 'terms' %}" class="link">Terms and conditions</a>
                </div>
                <div>
                    <a href="{% url 'qrcode_options' %}"><img src="{% static './assets/chat.svg' %}" alt="chat icon" class="chat-img"></a>
                </div>
            </div>
            <p class="footer-txt">2022 Zuri /project phase Team 54</p>
        </div>
    </footer>
    <script src="{% static './scripts/scripts.js' %}"></script>
</body>
</html>