{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'css/loginstyles.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="left">
                <div class="container-head"> 
                <img class="Logo" src="{% static './assets/logo.svg' %}"/>
                <h1 class="Head">Welcome to Qrx</h1>
            </div>
            <img class="coder" src="{% static './assets/Group 45.svg' %}"/>
        </div>
        

    <div class="right">
        <div class="Form-container">
        <form action="{% url 'user_login' %}" method="post">
            {% csrf_token %}
            <div class="form-card">
                <h2 class="Title">Login</h2>
                <div class='form-control'>
                    <label>Your Email</label>
                    <input type="email" class="qrs" name="email" placeholder="you@email.com"/>
                </div>
                <div  class='form-control'>
                    <label>Password</label>
                    <input type="password" class="qrs" name="password" placeholder="********"/>
                </div>

                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{request.GET.next}}">
                {% endif %}
                <div class="submit-container"> 
                    
                <button type="submit">Login</button>
            </div>

            <div class="social-container"> 
            <span> Login With</span>
            <a href="#"><img class="google" src="{% static './assets/Googlei.png' %}"></a>
            <a href="#"><img class="apple" src="{% static './assets/apples.png' %}"></a>
            <a href="#"><img class="facebook" src="{% static './assets/facebookr.png' %}"></a>

            </div>

            <div class="login-div"> 
            <p> <img class="logins" src="{% static './assets/Group-73.png' %}"></p>
            </div>
            <div class="submit2-container">
            <a href="{% url 'user_registration' %}" class="signup">Sign Up</a>
            </div>
        </form>
    </body>
</html>