
* {
  padding: 0;
  margin: 0;

}

/* Navigation bar / Header section */


/* Main Body of page */


.media-page-content {
  display: flex;
  background-color: #ffffff;
}

.main-content-left {
  width: 60%;
  padding: 3rem 3rem;
}

.main-content-right {
  width: 40%;
  padding: 3rem 6rem 3rem 3rem;
}

.right-head {
  padding: 0.2rem;
  margin: 0 0 2rem;
}
.right-head h3 {
  text-decoration: underline;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

.faq {
  border-bottom: 0.5px solid black;
  padding: 0.2rem 0.2rem 1.5rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.plus {
  color: #7A428E;
  float: right;
  position: relative;
  right: 1rem;
}


/* Page Footer */



/****************************************************************************
MEDIA QUERIES
***************************************************************************/
@media screen and (max-width: 700px) {

  * {
    transition: all 0.5s ease;
  }

  .media-page-content {
    flex-direction: column;
    align-items: center;
  }

  .main-content-left {
    width: 100%;
    display: none;
  }


  .main-content-right {
    width: 100%;
    padding: 1rem 3rem;
  }



}
