* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 50%;
}

/* colors */
:root {
    --primary-color: #7A428E;
    --secondary-color: #EE4266;
    --heading-color: #3B2244;
    --light-color: #FBF8FC;
    --text-color: #909298;
    --input-color: #ACAEB2;
}

/* styles for body and defining of fonts */
body {
    background-color: var(--light-color);
    font-family: 'Ubuntu', sans-serif;
}

/* logo */
.logo {
    width: 17rem;
}

a {
    text-decoration: none;
}
.nav {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 12rem;
    height: 100px;
    position: relative;

}

/* other pages nav group */
.nav-group-mobile li,
.nav-group li {
    list-style: none;
}

.nav-group-mobile {
    display: none;
}

.nav-group li a {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 2rem;
    text-decoration: none;
    color: #FFFFFF;
}
/* headers username clip first name and last name */
body {
    overflow-x: hidden;
}

.nav-group {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.header-username {
    color: #40117C;
    border-radius: 50%;
    background-color: #E5D3FE;
    padding: 3rem;
    font-size: 3.5rem;
    font-weight: 700;
    cursor: pointer;
}

.header-username:hover {
    box-shadow: 0 0 20px 2px #EE4266;
}

/* other pages header in desktop view */
.nav-desktop {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    top: 17rem;
    box-shadow: 0 0 20px -5px rgba(105, 27, 207, 0.568);
    position: absolute;
    background: radial-gradient(#FBF8FC 100%, #F2EAF9 39%, #6A1BCF 0%);
    border-radius: 15px;
    z-index: 3;
    transition: right 1s ease-in-out;
}

.nav-active {
    display: flex;
    right: 11rem;
}

#toggler {
    display: none;
}

.active {
    background-color: var(--secondary-color);
    padding: 1.3rem 3.6rem;
    border-radius: .9rem;
}

/* links */
.link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2rem;
    padding: 1.5rem 4.5rem;
}


/* footer */
.footer .footer-desktop {
    background-image: url("/static/assets/footer-background.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer .footer-desktop {
    position: relative;
    padding: 12rem 12rem 3rem 12rem;
}

.footer-desktop>div {
    display: flex;
    justify-content: space-between;
    position: relative;

}

.footer-desktop .group1 .logo {
    width: 20rem;
    padding-bottom: 2rem;
}

.footer-desktop .group1 .footer-txt {
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
}

.footer-desktop .group2 p:first-of-type,
.footer .group2 p:nth-of-type(2) {
    margin-bottom: 5rem;
}

.footer .footer-mobile {
    display: none;
}
/* navigation  bar styling */

.nav-desktop::before {
    content: "";
    background-image: url("/static/assets/Polygon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    position: absolute;
    top: -40px;
    right: 35px;
}

.nav-desktop li {
    list-style: none;
}

.nav-group-mobile {
    text-align: start;
    justify-content: space-between;
}

.nav-group-mobile li .red {
    border-bottom: 2px solid #5f5e5ee1;
    color: #EE4266;
}
.nav-desktop li a {
    text-decoration: none;
    color: #4A4A4A;
    font-size: 2.5rem;
    font-weight: 500;
    display: block;
    padding: 20px 40px;
}

.nav-desktop li a:first-child {
    margin-top: 20px;
}

.nav-desktop li:nth-child(2) {
    margin-bottom: 10px;
    border-bottom: 1px solid #D9D9D9;
}

.nav-desktop li:nth-child(3) {
    margin-bottom: 10px;
    text-align: center;
}
ul li .l-out, .nav-group-mobile .l-out {
    margin-top: 32px;
    color: #EE4266;
    text-align: center;
}

.nav-desktop li a:hover,
.nav-group-mobile li a:hover {
    background-color: white;
    color: #713586;
    box-shadow: 0 1px 7px -3px grey;
}

.pf-link,
.para {
    background-image: url("/static/assets/profile.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 85%;
}

.f-b,.f{
    background-image: url("/static/assets/feedback.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 85%;
}

.s {
    margin-top: 20px;
    background-image: url("/static/assets/Services.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 85%;
}

.d {
    background-image: url("/static/assets/draft.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 85%;
}

.h {
    background-image: url("/static/assets/history.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 85%;
    border-bottom: 1px solid #7A428E;
}

.nav-group-mobile li {
    margin: 1px 0;
}
/* OPTIONS */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
}

.wrapper .section-heading {
    margin-top: 40px;
    font-size: 35px;
    text-align: start;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width:1100px;

}

.card {
    border: 2px solid #7A428E;
    border-radius: 16px;
    padding: 2em 1.5em;
    width: 250px;
    min-height: 250px;
    margin: 25px 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: 0.5s;
}

h3 {
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #03112E;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 15px 0;
}

.p {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #909298;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.icon-wrapper {
    background: #E5D3FE;
    width: 200px;
    height: 100px;
    margin: auto;
    font-size: 30px;
    display: grid;
    place-items: center;
    transition: 0.5s;
}


@media screen and (max-width: 1084px) {
    .nav-desktop {
        right: -50%;
    }

    .nav-active {
        right: 3.3rem;
    }

    .nav {
        padding: 5rem 5rem;
    }
    .footer .footer-desktop {
        padding: 10rem 5rem 2rem 5rem;
    }
    
}
@media screen and (max-width: 916px) {
    .nav-desktop {
        right: -50%;
    }

    .nav-active {
        top: 20rem;
        right: 2.5rem;
    }

    .footer-desktop {
        padding: 5rem;
    }

    .footer .group2 p:first-of-type,
    .footer .group2 p:nth-of-type(2) {
        padding-top: 1rem;
    }

    .footer .group2 .link {
        font-size: 3rem;
    }
    .wrapper{
        width:95%;
    }
}
@media screen and (max-width:824px) {
    .header-username {
        display: none;
    }
    .nav-desktop,
    .nav-group {
        display: none;
    }    
        #toggler {
            display: block;
            cursor: pointer;
            position: relative;
        }
    
        #toggler span:nth-of-type(1) {
            display: block;
            background-color: white;
            height: 3px;
            width: 30px;
            margin-bottom: 7px;
            padding-right: 20px;
        }
    
        #toggler span:nth-of-type(2) {
            display: block;
            background-color: white;
            height: 3px;
            width: 30px;
        }
    
        #toggler span:nth-of-type(3) {
            display: block;
            background-color: white;
            height: 3px;
            width: 30px;
            margin-top: 7px;
        }
    
        #toggler.activated {
            transform: rotate(90deg);
            transition: all .1s ease-in-out;
        }
    
        .nav-group-mobile {
            display: none;
            flex-direction: column;
            justify-content: space-between;
            width: 250px;
            position: absolute;
            top: 10rem;
            right: 20px;
            box-shadow: 0 0 20px -5px rgba(105, 27, 207, 0.568);
            background: radial-gradient(#FBF8FC 100%, #F2EAF9 39%, #6A1BCF 0%);
            border-radius: 15px;
            transition: display .3s ease-in-out;
        }
    
        .activatede {
            display: flex;
        }
    
        .nav-group-mobile li a {
            text-decoration: none;
            color: #4A4A4A;
            font-size: 2.5rem;
            font-weight: 500;
            display: block;
            padding: 20px 40px;
        }
    
        .nav-group-mobile li a:hover {
            background-color: white;
            box-shadow: 0 1px 7px -3px grey;
        }
                .nav-group-mobile li .red {
                    border-bottom: 2px solid #5f5e5ee1;
                    color: #EE4266;
                }
}
@media screen and (max-width: 700px) {
    .logo {
        width: 70px;
    }
        .footer .footer-desktop {
            display: none;
        }
    
        .footer .footer-mobile {
            display: block;
            background-image: url("/static/assets/footer-mobile.svg");
            background-size: cover;
            background-repeat: no-repeat;
            padding: 5rem 5rem 2rem 5rem;
        }
    
        .link {
            font-size: 2rem;
        }
    
        .footer-mobile>div {
            display: flex;
            justify-content: space-between;
        }
    
        .footer-mobile div .link {
            display: block;
            padding-left: 0;
        }
    
        .footer-txt {
            margin-top: 10px;
            color: white;
            font-size: 2rem;
            font-weight: 400;
            text-align: center;
        }
    
        .footer-mobile .chat-img {
            margin-top: 50px;
        }

}
@media screen and (max-width:500px){
    .row{
        flex-direction: column;
    }
}