@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&family=Ubuntu:wght@500;700&display=swap');

/* defining general colors */
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#7A428E;
    --secondary-color: #EE4266;
    --heading-color:#3B2244;
    --light-color: #FBF8FC;
    --text-color: #909298;
        --input-color: #ACAEB2;
}
html {
    font-size: 50%;
}

/* styles for body and defining of fonts */
body {
    background-color: var(--light-color);
    font-family: 'Ubuntu', sans-serif;
}
/* logo */
.logo{
    width: 17rem;
}
/* navbar */
.nav{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 12rem;
    height: 100px;
}
.nav .nav-group{
    display: flex;
    flex: row;
    gap: 5rem;
}
.nav .nav-group li,.nav-group-mobile li{
    list-style: none;
}

.nav .nav-group li a{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 2rem;
    text-decoration: none;
    color:#FFFFFF;
    
}
#toggler{
    display: none;
}
.active{
    background-color: var(--secondary-color);
    padding: 1.3rem 3.6rem;
    border-radius: .9rem;
}


.link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2rem;
    padding: 1.5rem 4.5rem;
}

/* main */
.main {
  display: flex;
}

.back {
display: none;
}

.one {
  margin-right: 40px;
  margin-left: 90px;
  margin-top: 70px;
margin-bottom: 50px;
}

.form {
  margin-left: 40px;
  margin-top: 55px;
  
}

.form-group {
  display: block;
    border-radius: 10px;
}

input {
  height: 50px;
  width: 80%;
  margin-top: 10px;
  border: 1px solid #ACADB2;

}

textarea {
  min-height: 150px;
  width: 80%;
  margin-top: 10px;
    border: 1px solid #ACADB2;
}

.two {
  margin-left: 200px;
}

.img {
  margin-left: 90px;
  margin-top: 125px;
}

.button {
  display: flex; 
 justify-content: space-between;
}

.button-1 {
  display: flex;
}

.button-3 {
  display: flex;
  
}

.button1 {
  height: 50px;
  width: 284px;
  top: 50px;
  border-radius: 10px;
  margin-right: 50px;
  margin-top: 50px;
    margin-bottom: 30px;
  border: 2px solid #7A428E;
font-family: 'Ubuntu', sans-serif;
font-size: 24px;
font-weight: 500;
line-height: 28px;
  background: transparent;
}

.button2 {
  height: 50px;
  width: 284px;
  top: 50px;
  border-radius: 10px;
    margin-top: 50px;
background: #EE4266;
border: 1px transparent;
  color: #FFFFFF;
font-family: 'Ubuntu', sans-serif;
font-size: 26px;
font-weight: 500;
line-height: 24px;
margin-bottom: 30px;
  
}

.button1:hover {

  box-shadow: 0 0 3px 1px #703586;;

}

.button2:hover {

  box-shadow: 0 0 8px 3px #EE4266;

}

.button3:hover {

  box-shadow: 0 0 8px 3px #EE4266;

}

.button4:hover {

  box-shadow: 0 0 8px 3px #703586;;

}

label {
font-family: 'Ubuntu', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 24px;
color: #909298;
}

::placeholder {
font-family: 'Ubuntu', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 24px;
color: #ACAEB2;
  padding-top: 10px;
  padding-left: 10px;

}

.button3 {
  height: 50px;
  width: 180px;
  border-radius: 10px;
    margin-top: 50px;
  background: #f8baba;
border: 1px transparent;
  color: #FFFFFF;
margin-bottom: 30px;
 margin-right: 30px;
  font-family: 'Ubuntu', sans-serif;
font-size: 26px;
font-weight: 500;
line-height: 24px;
}

.button4{ 
height: 50px;
  width: 180px;
  border-radius: 10px;
    margin-top: 50px;
  background: #C5B4E3;
border: 1px transparent;
  color: #FFFFFF;
margin-bottom: 30px;
  font-family: 'Ubuntu', sans-serif;
font-size: 26px;
font-weight: 500;
line-height: 24px;
}

.button3:active {
  background: #EE4266;
}

.button4:active {
  background: linear-gradient(0deg, rgba(84, 13, 110, 0.8), rgba(84, 13, 110, 0.8)),
linear-gradient(0deg, rgba(90, 90, 90, 0.6), rgba(90, 90, 90, 0.6));
}

.button5 {
  height: 40px;
width: 53px;
border-radius: 8px;
padding: 8px;
background: transparent;
  border: 1px solid #586C92;
  margin-right: 15px;
  margin-left: 40px;
  font-family: 'Ubuntu',  sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 24px;

}

.button6 {
 height: 40px;
width: 49px;
border-radius: 8px;
padding: 8px;
 background: transparent;
  border: 1px solid #586C92;
  margin-right: 15px;
    font-family: 'Ubuntu',  sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 24px;

}

.button7 {
  height: 40px;
width: 51px;
border-radius: 8px;
padding: 8px;
background: transparent;
  border: 1px solid #586C92;
    font-family: 'Ubuntu',  sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 24px;

}

.share {
  margin-left: 50px;
}


/* footer */

.footer .footer-desktop {
    background-image: url(/assets/footer-background.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.footer .footer-desktop{
    position: relative;
    padding: 12rem 12rem 3rem 12rem;
}
.footer-desktop>div {
    display: flex;
    justify-content: space-between;
    position: relative;
    
}
.footer-desktop .group1 .logo{
    width:20rem;
    padding-bottom: 2rem;
}
.footer-desktop .group1 .footer-txt{
    color:white;
    font-size: 2.5rem;
    font-weight: 700;
}
.footer-desktop .group2 p:first-of-type,.footer .group2 p:nth-of-type(2) {
    margin-bottom: 5rem;
}
.footer .footer-mobile{
    display:none;
}
.nav-group-mobile{
    display: none;
}
/* Media queries */

@media screen and (max-width: 1234px) {
  .one {
    margin-left: 10px;
  }
  
  .two {
    margin-left: 30px;
  }
  
}

@media screen and (max-width: 1184px) {
.button1, .button2 {
  width: 260px;
}

  .button3, .button4 {
width: 160px;
}

  .one {
    margin: 0px;
  }
  
  .two {
    margin-left: 20px;
  }
  
}

@media screen and (max-width: 1084px) {
.button1, .button2 {
  width: 250px;
}

  .button3, .button4 {
width: 150px;
}

.two {
  margin-left: 60px;
}
  
    .nav{
        padding:5rem 5rem;
    }
 
.one {
  width: 50%;
  margin: 0px;
}

.button1, .button2 {
  width: 230px;
  margin: 10px;
  margin-top: 30px;
}

.img {
  margin-left: 60px;
}
  
    .footer-desktop{
        padding:10rem 5rem 2rem 5rem;
    }
}


@media screen and (max-width: 916px) {

.button1, .button2 {
  width: 180px;
}
  
    .footer-desktop {
        padding: 5rem 5rem 2rem 5rem;
    }
    .footer .group2 p:first-of-type,
    .footer .group2 p:nth-of-type(2) {
        padding-top: 1rem;
    }
    .footer .group2 .link{
        font-size: 3rem;
    }
  
} 
@media screen and (max-width:824px){
  
* {
  margin: 0px;
  width: 100%;
}
  
body {
  display: block;
  width: 100%;
  }

.logo {
  width: 80px;
}
  
    .nav .nav-group{
        display: none;
    }
    #toggler{
      margin-left: 580px;
        display: block;
        cursor: pointer;
      }
    #toggler span:nth-of-type(1){
        display: block;
        background-color: white;
        height: 3px;
        width:30px;
        margin-bottom: 7px;
        padding-right: 20px;
    }
    #toggler span:nth-of-type(2){
        display: block;
        background-color: white;
        height: 3px;
        width:30px;
    }
    #toggler span:nth-of-type(3){
        display: block;
        background-color: white;
        height: 3px;
        width:30px;
        margin-top: 7px;
    }
    #toggler.activated{
        transform: rotate(90deg);
        transition: all .5s ease-in-out;
    }
    .nav-group-mobile{
        display: flex;
        flex-direction: column;
        width: 150px;
        text-align: center;
        position: absolute;
        padding:0;
        z-index: 1;
        top: 13rem;
        right: -9999px;
        overflow-x: hidden;
        box-shadow: 0 0 20px -5px rgba(105, 27, 207, 0.568);
        background: radial-gradient(#FBF8FC 100%, #F2EAF9 39%, #6A1BCF 0%);
        border-radius: 15px;
        transition: right 1s ease-in-out;
        }
        .nav-group-mobile.activatede{
            right: 1rem;
        }
        .nav-group-mobile li a{ 
            text-decoration: none;
        color: #4A4A4A;
        font-size: 2.5rem;
        font-weight: 500;
        display: block;
        padding: 20px 40px;
        }
        .mob-link{
            margin:10px 0;
        }
        .nav-group-mobile li a:hover {
    background-color: white;
    color: #EE4266;
    box-shadow: 0 1px 7px -3px grey;
}

a {
  font-family: 'Ubuntu', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 24px;

}
  
  .logo-1 {
  margin-top: 30px;
  margin-left: 20px;
}

.lg-1 {
  width: 100px;
}

  a {
  font-family: 'Ubuntu', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 24px;

}

  .main {
  width: 100%;
  margin-right: 0px;
    display: block;
    margin-bottom: 100px;
   }

.back {
  display: block;
}

.bk {
  width: 50px;
  margin-left: 30px;
}
  
.one {
  width: 90%;
  margin-right: 0px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.form {
  margin-left: 0px;
  margin-top: 35px;
  margin-right: 0px;
  
    }

  .img-1 {
    width: 250px;
    margin-right: 0px;
  }

.pdfd {
 margin-left: 5px; 
  width: 90%;
}
  
input {
  height: 55px;
  width: 90%;
  margin-top: 15px;
  margin-right: 0px;
}

textarea {
  min-height: 150px;
  width: 90%;
  margin-top: 15px;
  margin-right: 0px;
}
  
.two {
  display: block;
  margin-left: 185px;
  margin-top: 50px;
  margin-right: 0px;
}

.img {
  margin-left: 70px;
  margin-top: 35px;
  margin-right: 0px;
}

.button {
  display: block; 
  margin-left: 20px;
  margin-right: 0px;
}

.button1 {
  width: 290px;
  margin-top: 30px;
  margin-bottom: 0px;
  margin-right: 0px;
  font-size: 22px;
  margin-left: 170px;
}
  
.button2 {
  width: 290px;
  margin-top: 30px;
  margin-right: 0px;
  font-size: 24px;
  margin-left: 170px;
}
  
  .button-1 {
    display: block;
    margin-left: 70px;
    margin-right: 0px;
    margin-top: 0px;
  }

.button3 {
    width: 160px;
    margin-right: 0px;
    margin-left: 40px;
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 24px;
  }
  
.button4 {
    width: 160px;
    margin-right: 0px;
    margin-left: 40px;
  margin-top: 12px;
  margin-bottom: 0px;
  font-size: 24px;
  }
  
 .button-3 {
   margin-top: 15px;
   margin-right: 0px;
   margin-left: 60px;
   display: block;
 } 

  .share {
    width: 100px;
    padding-top: 20px;
    padding-left: 50px;
  }

.button7 {
  margin-right: 0px;
}

  .footer .footer-desktop{
            display: none;
        }
        .footer .footer-mobile{
            display: block;
            background-image: url(/assets/footer-mobile.svg);
                background-size: cover;
                background-repeat: no-repeat;
                padding: 5rem 5rem 2rem 5rem;
        }
        .footer-mobile>div{
            display: flex;
            justify-content: space-between;
        }
        .footer-mobile div .link{
          font-size: 2rem;
            display: block;
            padding-left:0;
          white-space: nowrap;
        }
  .footer-txt{
            margin-top: 10px;
            color: white;
            font-size: 2rem;
            font-weight: 400;
            text-align: center;
    white-space: nowrap;
         } 
         .footer-mobile .chat-img{
            margin-top: 50px;
           margin-left: 290px;
         }      

.chat-img{
  width: 30px;
  padding-top: 10px;
}
  
}

@media screen and (max-width:768px) {
.logo{
        width:70px;
    }

    .link{
        font-size: 2rem;
    }

#toggler{
      margin-left: 550px;
        display: block;
        cursor: pointer;
}

.button1, .button2 {
    margin-left: 160px;
}

.two {
    margin-left: 170px;
}
  
}

@media screen and (max-width:700px) {
  .nav-group-mobile{
    top:12rem;
  }  
  .logo{
        width:70px;
    }

    .link{
        font-size: 2rem;
    }

#toggler{
      margin-left: 420px;
        display: block;
        cursor: pointer;
}

  .button1, .button2 {
    margin-left: 90px;
  }

  .two {
    margin-left: 100px;
  }

  .img-1 {
    width: 230px;
    padding-left: 40px;
  }

  .button-1 {
    padding-left: 15px;
  }

  .button-3 {
    padding-left: 10px;
  }
 
        .footer .footer-desktop{
            display: none;
        }
        .footer .footer-mobile{
            display: block;
            background-image: url(/assets/footer-mobile.svg);
                background-size: cover;
                background-repeat: no-repeat;
                padding: 5rem 5rem 2rem 5rem;
        }
        .footer-mobile>div{
            display: flex;
            justify-content: space-between;
        }
        .footer-mobile div .link{
            display: block;
            padding-left:0;
          white-space: nowrap;
        }
  .footer-txt{
            margin-top: 10px;
            color: white;
            font-size: 2rem;
            font-weight: 400;
            text-align: center;
         } 
         .footer-mobile .chat-img{
            margin-top: 50px;
           margin-left: 250px;
         }      
}
.chat-img{
  width: 30px;
  padding-top: 10px;
}

@media screen and (max-width: 560px) {
      #toggler{
      margin-left: 270px;
        display: block;
        cursor: pointer;
    }

  
    .button1, .button2 {
      width: 250px;
    margin-left: 50px;
  }

  .two {
    margin-left: 30px;
  }

.footer-mobile .chat-img{
            margin-top: 70px;
           margin-left: 150px;
         }

.logo {
  width: 100px;
}

.link{
        font-size: 2.5rem;
    }
    
  
}

@media screen and (max-width:480px) {
#toggler {
  margin-left: 180px;
}

.button1, .button2 {
        width: 230px;
  margin-left: 10px;
}
  
.two {
  margin-left: 15px;
  padding-left: 0px;
}

.img-1 {
  width: 180px;
  margin-left: 10px;
  padding-left: 0px;
}
  
  .button-1, .button-3 {
  margin-left:30px;
}

  
  .nav-group-mobile{
    top:12rem;
  }  
  .logo{
        width:70px;
    }

    .link{
        font-size: 2rem;
    }
    
        .footer .footer-desktop{
            display: none;
        }
        .footer .footer-mobile{
            display: block;
            background-image: url(/assets/footer-mobile.svg);
                background-size: cover;
                background-repeat: no-repeat;
                padding: 5rem 5rem 2rem 5rem;
        }
        .footer-mobile>div{
            display: flex;
            justify-content: space-between;
        }
        .footer-mobile div .link{
            display: block;
            padding-left:0;
          white-space: nowrap;
        }
  .footer-txt{
            margin-top: 10px;
            color: white;
            font-size: 2rem;
            font-weight: 400;
            text-align: center;
         } 
         .footer-mobile .chat-img{
            margin-top: 50px;
           margin-left: 50px;
         }      
}
.chat-img{
  width: 30px;
  padding-top: 10px;
}


