{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static './css/outputs.css' %}">
    <title>Media Download</title>
</head>

<body>
    {% if pdf_obj %}
        <main class="media_preview">
            <div class="dummy">
                <p>Title {{ pdf_obj.name }}</p>
                <p>File: {{ pdf_obj.file }}</p>
                <p>File Size: {{ pdf_obj.file_size }}</p>
                <p>File Description: {{ pdf_obj.description }}</p>
            </div>
            <a href="{{pdf_obj.file}}" class="download" download>Download Pdf File</a>
        </main>
    {% else %}
        <main class="media_preview">
            <div class="dummy">
                <h1>No pdf File found..</h1>
            </div>
        </main>
    {% endif %}
</body>
</html>