{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BusinessOutput</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static './css/outputs.css' %}">
</head>

<body>
    <main class="bank_output">
        <h2 class="businessname">Bank Details</h2>
        <p1>Account Title: {{bank_obj.name}}</p1>
        <p1>Account Name: {{bank_obj.account_name}}</p1>
        <p class="bankname1">Bank Name: {{bank_obj.bank_name}}</p> 
        <p class="accnum">Account Number: {{bank_obj.account_number}}</p>
    </main>
</body>

</html>