*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color:  #7A428E;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
}
.img-text{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
    text-align: center;
    width: 50%;
    height: auto;
}
h1{
    font-size: 30px;
    line-height: 1.5;
}
p{
    font-size: 15px;
}
.form-control{
    margin-bottom: 30px;
    position: relative;
}
.form-control small{
    position: absolute;
    bottom: -20px;
    right: 0;
    text-align: right;
    opacity: 0;
}
input{
    display: inline-block;
    margin: 1.5rem 0;
    width: 100%;
    padding: 15px 25px;
    border-radius: 5px;
    border: 1px solid hsl(246, 25%, 77%);
    font-weight: 500;
    font-size: 14px;
}
input:focus {
    border: 1.5px solid hsl(248, 32%, 49%);
    outline: none;
}
button{
    outline: none;
    display: block;
    width: 50%;
    padding: 12px 25px;
    border-radius: 5px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.reset{
    background-color: #ee4266;
    font-weight: 400;
    font-size: 18px;
    border: none;
    color: #fff;
    margin: 1.2rem 6.5rem;
}
.cancel{
    font-weight: 400;
    font-size: 18px;
    border: 1px solid #7A428E;
    margin: 1.2rem 6.5rem;
}
@media screen and (max-width:900px){
    .container{
        flex-direction: column;
    }
    h1{
        text-align: center;
    }
    p{
        text-align: center;  
    }
    button{
        margin: 1.2rem 3.5rem;
    }
}


