{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>QRx</title>
        <link rel="stylesheet" href="{% static './css/style.css' %}">
    </head>
    <body>

        <h1>Hello there, page is serving and static files are also linked properly....</h1>
        

        <script src="{% static './js/custom.js' %}"></script>
    </body>
</html>