<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Contact Page</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/static/css/styles2.css">

    <!-- <link rel="stylesheet" href="/static/css/media-gen.css"> -->

    <script src="https://kit.fontawesome.com/be95f07fec.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>


  </head>
  <body>

    <!-- Header -->
  <nav class="nav">
    <a href="/templates/index.html"><img src="/static/assets/logo.svg" alt="Qrx" class="logo"></a>
    <ul class="nav-group">
      <li><a href="/templates/options.html" class="">Services</a></li>
      <li><a href="/templates/draft.html" class="">Draft</a></li>
      <li><a href="/templates/" class="">History</a></li>
    </ul>
    <!--    Desktop Drop down      -->
    <p class="header-username">FA</p>
    <ul class="nav-desktop">
      <li><a href="/templates/profile.html" class="pf-link link">Profile </a></li>
      <li><a href="/templates/feedback.html" class="f-b link">Feedback</a></li>
      <li><a href="/templates/index.html" class="l-out link">Logout</a></li>
    </ul>
    <!-- toggler -->
    <div id="toggler">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!--  Mobile dropdown  -->
    <ul class="nav-group-mobile">
      <li><a href="/templates/options.html" class="s link">Services</a></li>
      <li><a href="/templates/draft.html" class="d link">Draft</a></li>
      <li><a href="#" class="h link">History</a></li>
      <li><a href="/templates/profile.html" class="p link">Profile </a></li>
      <li><a href="/templates/feedback.html" class="f link">Feedback</a></li>
      <li><a href="/templates/index.html" class="l-out link">Logout</a></li>
    </ul>
  </nav>



    <main class="main-content">
      <div class="contact-page-content">

        <div class="main-content-left">

          <form class="contact-form" >
            <!--action="index.html" method="post"-->
            <div class="qr-code-name">
              <label for="qr-code-name">Name your QR code</label>
              <input type="text" name="qr-code-name" id="qr-code-name" placeholder="E.g My QRx code">
            </div>
            <div class="contact-name">
              <label for="qr-code-name">Contact Name</label>
              <input type="text" name="contact-name" id="contact-name" placeholder="E.g John Doe">
            </div>
            <div class="phone-number">
              <label for="qr-code-name">Name your QR code</label>
              <input type="tel" name="phone-number" id="phone-number" placeholder="0000000000">
            </div>

            <div class="add-link">
              <button>
                <label for="add-link">

                  <input type="file" name="add-link" id="add-link">
                  Add Link
                </label>
              </button>

            </div>

            <div class="buttons-left">
              <button type="button" name="pre-input-btn" class="btn-one">Preview Input</button>
              <button type="submit" name="gen-qr-btn" class="btn-two">Generate QR Code</button>
            </div>

          </form>

        </div>

        <div class="main-content-right">

          <div class="qr-code-container">
            <div class="qr-code"><img src="/static/assets/bi_qr-code.svg" alt=""></div>
          </div>

          <div class="buttons-right">
            <button type="button" name="customize-btn" class="btn1-right">Customize</button>
            <button type="button" name="download-btn" class="btn2-right">Download</button>
          </div>

          <div class="dl-links">
            <div class="format-btn">
              <button class="png">PNG</button>
              <button class="jpg">JPG</button>
              <button class="pdf">PDF</button>
            </div>
            <img src="/static/assets/share-icon.svg" alt="share icon" class="share-icon">
          </div>

        </div>

      </div>
    </main>

  <!-- footer -->
  <footer class="footer">
    <div class="footer-desktop">
      <div>
        <div class="group1">
          <a href="/templates/index.html"><img src="/static/assets/logo.svg" alt="Qrx" class="logo"></a>
          <p class="footer-txt">2022 Zuri /project phase Team 54</p>
        </div>
  
        <div class="group2">
          <p>
            <a href="#" class="link">FAQ</a>
            <a href="/templates/aboutUs.html" class="link">About Us</a>
          </p>
          <p><a href="/templates/terms.html" class="link">Terms and conditions</a></p>
          <p><a href="/templates/feedback.html" class="link">Feedback</a></p>
        </div>
      </div>
    </div>
  
    <div class="footer-mobile">
      <div>
        <div>
          <a href="/templates/index.html"><img src="/static/assets/logo.svg" alt="Qrx" class="logo"></a>
          <a href="/templates/faq-page.html" class="link">FAQ</a>
          <a href="/templates/aboutUs.html" class="link">About Us</a>
          <a href="/templates/terms.html" class="link">Terms and conditions</a>
        </div>
        <div>
          <a href="/templates/feedback.html"><img src="/static/assets/chat.svg" alt="chat icon" class="chat-img"></a>
        </div>
      </div>
      <p class="footer-txt">2022 Zuri /project phase Team 54</p>
    </div>
  </footer>
  <script src="/static/scripts/scripts.js"></script>
  <script src="/static/scripts/media-gen.js" charset="utf-8"></script>
  </body>
</html>
