<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
    <title>Custom</title>
</head>
<body>
    <!--card layout start-->
    <div class="container">
        <div class="row">
            <div class="card-01">
                <img src="/static/assets/bi_qr-code.svg" alt="">
            </div>
            <div class="row">
                <button class="purple" id="card-02"></button>
                <button class="peach" id="card-02"></button>
                <button class="dark-purple" id="card-02"></button>
            </div>
            <div class="row">
                <button class="colour" id="card-03">Select Colour</button>
                <button class="cancel" id="card-03">Cancel</button>
            </div>
        </div>
    </div>
    <!--card layout end-->

</body>
</html>