<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">

    <!--CSS stylesheet-->
    <link rel="stylesheet" href="/static/css/forgot_password.css">
</head>
<body>
   <div class="container">
    <div class="img-text">
        <img src="/static/assets/logo2.svg" alt="">
        <h1>Trouble logging in?</h1>
        <p>Enter your associated email for this account to reset your password</p>

        <form class="box" id="form">
            <div class="form-control"><input type="email" id="email" placeholder="Email Address"><small></small></div>

            <button class="reset">Reset Password</button>
            <button class="cancel">Cancel</button>
        </form>
    </div>
   </div>
</body>
</html>




