<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Profile Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="/static/css/options2.css">
</head>

<body>
    <!-- Header -->
    <!-- navbar -->
    <nav class="nav">
        <a href="/templates/index.html"><img src="/static/assets/logo.svg" alt="Qrx" class="logo"></a>
        <ul class="nav-group">
            <li><a href="/templates/options.html" class="">Services</a></li>
            <li><a href="/templates/draft.html" class="">Draft</a></li>
            <li><a href="#" class="">History</a></li>
        </ul>
    
        <p class="header-username">FA</p>
        <ul class="nav-desktop">
            <li><a href="/templates/profile.html" class="pf-link link">Profile </a></li>
            <li><a href="/templates/feedback.html" class="f-b link">Feedback</a></li>
            <li><a href="/templates/loginindex.html" class="l-out link">Logout</a></li>
        </ul>
    
        <div id="toggler">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="nav-group-mobile">
            <li><a href="/templates/options.html" class="s link">Services</a></li>
            <li><a href="/templates/draft.html" class="d link">Draft</a></li>
            <li><a href="#" class="h link">History</a></li>
            <li><a href="/templates/profile.html" class="para link">Profile </a></li>
            <li><a href="/templates/feedback.html" class="f link">Feedback</a></li>
            <li><a href="/templates/loginindex.html" class="l-out link">Logout</a></li>
        </ul>
    </nav>
    <main>

        <img src="/static/assets/Frame 247.svg" alt="fa">
        <div class="inputs"></div>
        <div class="fname">
            <div class="fi">
                First Name
            </div>
            <div class="name">
                Faizah
            </div>

        </div>
        <div class="surname">
            <div class="sur">
                Surname
            </div>
            <div class="sName">
                Ahalayo
            </div>
        </div>
        <div class="email">
            <div class="mail">
                Email
            </div>
            <div class="mailName">
                jay@gmail.com
            </div>
        </div>
        </div>


    </main>


    <!-- footer -->
    <footer class="footer">
        <div class="footer-desktop">
            <div>
                <div class="group1">
                    <a href="/templates/index.html"><img src="/static/assets/logo.svg" alt="Qrx" class="logo"></a>
                    <p class="footer-txt">2022 Zuri /project phase Team 54</p>
                </div>
    
                <div class="group2">
                    <p>
                        <a href="/templates/faq-page.html" class="link">FAQ</a>
                        <a href="/templates/aboutUs.html" class="link">About Us</a>
                    </p>
                    <p><a href="/templates/terms.html" class="link">Terms and conditions</a></p>
                    <p><a href="/templates/feedback.html" class="link">Feedback</a></p>
                </div>
            </div>
        </div>
    
        <div class="footer-mobile">
            <div>
                <div>
                    <a href="/templates/index.html"><img src="/static/assets/logo.svg" alt="Qrx" class="logo"></a>
                    <a href="/templates/faq-page.html" class="link">FAQ</a>
                    <a href="/templates/aboutUs.html" class="link">About Us</a>
                    <a href="/templates/terms.html" class="link">Terms and conditions</a>
                </div>
                <div>
                    <a href="/templates/feedback.html"><img src="/static/assets/chat.svg" alt="chat icon"
                            class="chat-img"></a>
                </div>
            </div>
            <p class="footer-txt">2022 Zuri /project phase Team 54</p>
        </div>
    </footer>
    <script src="/static/scripts/scripts.js"></script>
</body>

</html>