body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}
button{
    cursor: pointer;
}
.container{
    margin: 20px;
}
.row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#card-02{
    position: relative;
    flex: 1;
    max-width: 170px;
    height: 75px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
}
.purple{
    background: #7A428E;
    border: none;
}
.peach{
    background: #ee4266;
    border: none;
}
.dark-purple{
    background: #421b50;
    border: none;
}
#card-03{
    position: relative;
    flex: 1;
    max-width: 220px;
    height: 75px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 20px;
}
.colour{
    background: hsl(248, 32%, 49%);
    border: none;
}
.cancel{
    background: lightsalmon;
    border: none;
}

