
* {
  padding: 0;
  margin: 0;

}

/* Navigation bar / Header section */


/* Main Body of page */


.media-page-content {
  display: flex;
  background-color: #ffffff;

}

.main-content-left {
  width: 60%;
  padding: 3rem 3rem;
}

.media-form {
  width: 80%;
  margin: auto;
  text-align: center;
}

.qr-code-name {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 70%;
  margin: 0 auto 1.5rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 0.5rem;
}

.qr-code-name label {
  color: #909298;
  padding-bottom: 0.3rem;
  font-size: 0.7rem;
}

.qr-code-name input {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border:1px solid rgba(172, 173, 178, 1);
}

.media-upload {
  border: 0.5px dashed #40117C;
  border-radius: 0.3rem;
  width: 70%;
  margin: 0 auto 2rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="file"] {
  display: none;
}

.media-upload button {
  background-color: #40117C;
  color: #ffffff;
  border: none;
  border-radius: 0.3rem;
  padding: 0.7rem 1.2rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1rem;

}

.btn {
  background-color: #EE4266;
  border: none;
  border-radius: 0.3rem;
  padding: 0.7rem 1.2rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #ffffff;
}

.main-content-right {
  width: 40%;
  padding: 3rem 6rem 3rem 3rem;
  text-align: center;
}

.buttons-right {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.buttons-right button {
  border: none;
  padding: 0.7rem 1.2rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: #ffffff;
  border-radius: 0.3rem;
}

.buttons-right .btn1-right {
  background-color: rgba(238, 66, 102, 0.5);
}

.buttons-right .btn2-right {
  background-color: rgba(102, 11, 135, 0.5);
}

.dl-links {
  width: 60%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.format-btn {
  float: left;
}
.format-btn button {
  background-color: #ffffff;
  color: #40117C;
  border-radius: 0.2rem;
  border: 1px solid #40117C;
  padding: 0.1rem;
}
.share-icon {
  float: right;
}



/* Page Footer */



/****************************************************************************
MEDIA QUERIES
***************************************************************************/
@media screen and (max-width: 700px) {

  * {
    transition: all 0.5s ease;
  }

  .media-page-content {
    flex-direction: column;
    align-items: center;
  }

  .main-content-left {
    width: 100%;
  }

  .media-form {
    width: 90%;
  }

  .main-content-right {
    width: 100%;
    padding: 1rem 3rem;
  }

  .buttons-right {
    flex-direction: column-reverse;
  }

  .buttons-right button {
    width: 50%;
    margin: auto;
  }

  .buttons-right .btn1-right, .buttons-right .btn2-right {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .dl-links {
    flex-direction: column;
  }

  .format-btn{
    margin-bottom: 1rem;
  }

}
