body{
    overflow-x: hidden;
}
.nav-group {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.header-username {
    color: #40117C;;
    border-radius: 50%;
    background-color: #E5D3FE;
    padding: 3rem;
    font-size: 3.5rem;
    font-weight: 700;
    cursor: pointer;
}
.header-username:hover{
    box-shadow: 0 0 20px 2px #EE4266;
}



main {
    display: flex;
    justify-content: space-between;
    padding: 0 12rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.social-display>div {
    margin-bottom: 29px;
}


}


input::placeholder {
    color: #ACAEB2;
    font-weight: 500;

}

button {
    cursor: pointer;
}

.add-link,
.gen-qr,
.cust,
.down {
    display: block;
    color: white;
    background-color: #713586;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 20px 50px;
    font-size: 3rem;
    font-weight: 500;
    border: 0;
    border-radius: 10px;
}

.gen-qr {
    background-color: #FB4268;
}

.qr-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qr-show {
    height: 250px;
    width: 250px;
    margin-bottom: 4rem;
}

.cust,
.down {
    display: inline;
}

.cust {
    background-color: rgba(238, 66, 102, 0.5);
    margin-right: 2rem;
}

.down {
    background-color: rgba(102, 11, 135, 0.5);
}

.qr-display .qr-display-group {
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 3rem;

}

.qr-display-group>div {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.btn {
    font-weight: 500;
    font-size: 1.7rem;
    padding: 10px;
    border: 2px solid #586C92;
    border-radius: 8px;
}

/* navigation  bar styling */
.nav-desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    top: 17rem;
    right: -50%;
    box-shadow: 0 0 20px -5px rgba(105, 27, 207, 0.568);
    position: absolute;
    background: radial-gradient(#FBF8FC 100%, #F2EAF9 39%, #6A1BCF 0%);
    border-radius: 15px;
    transition: right 1s ease-in-out;
  z-index: 2;

}
.nav-active{
    right:11rem;
}

.nav-desktop::before {
    content: "";
    background-image: url(/assets/Polygon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    position: absolute;
    top: -40px;
    right: 30px;
}

.nav-desktop li {
    list-style: none;
}
.nav-group-mobile{
    text-align: start;
    justify-content: space-between;
    width:250px;
}

.nav-desktop li a{
    text-decoration: none;
    color: #4A4A4A;
    font-size: 2.5rem;
    font-weight: 500;
    display: block;
    padding: 20px 40px;
}

.nav-desktop li a:first-child {
    margin-top: 20px;
}

.nav-desktop li:nth-child(2) {
    margin-bottom: 10px;
    border-bottom: 1px solid #D9D9D9;
}

.nav-desktop li:nth-child(3) {
    margin-bottom: 10px;
    text-align: center;
}

ul li .l-out {
    margin-top:32px;
    color: #EE4266;
    text-align: center;
}

.nav-desktop li a:hover, .nav-group-mobile li a:hover  {
    background-color: white;
    color: #713586;
    box-shadow: 0 1px 7px -3px grey;
}

.pf-link,.p {
    background-image: url(/assets/profile.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 85%;
}

.f-b,.f {
    background-image: url(/assets/feedback.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 85%;
}

.s{
    margin-top: 20px;
    background-image: url(/assets/Services.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 85%;
}
.d{
    background-image: url(/assets/draft.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 85%;
}
.h{
    background-image: url(/assets/history.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 85%;
    border-bottom:1px solid #7A428E;
}
.nav-group-mobile li{
    margin:1px 0;
}


/* media queries */
@media screen and (max-width: 1084px) {
    
    .nav-desktop {
        right: -50%;
    }
    .nav-active {
        right: 3.3rem;
    }
}

@media screen and (max-width: 916px) {
    .nav-desktop {
        right: -50%;
    }
    .nav-active {
        top: 20rem;
        right: 2.5rem;
    }
}

@media screen and (max-width:824px) {
    .header-username {
        display: none;
    }

    .nav-desktop {
        display: none;
    }

    main {
        flex-direction: column;
    }
    .qr-display>div{
        flex-direction: column;
    }

    input {
        width: 100%;
    }

    .qr-display-group{
        margin: 0 auto;
    }
    .qr-display>div .cust{
        display: block;
    }

    .qr-display .qr-display-group .share-icon {
        display: block;
        margin: 10px auto;
    }
}